body {
    color: black;
    font-family: "Times New Roman", Times, serif;
}

nav {
    padding-bottom: 2em;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 8px;
    font-size: large;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav li {
    display: inline-block;
}